/* * {
    background-color: rgba(127, 255, 212, 0.288);
    background-color: white;
    color: #0D3044;
}
 */


 /* .background {
    background-image: url(../assets/page4BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
 } */


 /* body {
    background-image: url(../assets/page4BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
 } */

body, html {
    height: 100%;
    margin: 0;
}

.p4Hero{
    background-image: url(../assets/page4HERO.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}   

 #bigTitle {
    text-align: center;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.234);
    border-radius: 5%;
    position: absolute;
    top: 10%;
    left: 50%;
 }

 .container {
    display: flex;
    flex-direction: row;
 }

 .resource {
    background-color: rgba(0, 0, 0, 0.329);
    width: 50%;
    height: 50%;
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

